<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808985936517-rcirtpkods317iufbn78kkv8e0h7lqau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808985936517-rcirtpkods317iufbn78kkv8e0h7lqau</string>
	<key>API_KEY</key>
	<string>AIzaSyCFUzmv772RhgAXXZxo7Rou2418BUfMkWE</string>
	<key>GCM_SENDER_ID</key>
	<string>808985936517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roommieverse.roomieverseMobile</string>
	<key>PROJECT_ID</key>
	<string>roomieverse-antt</string>
	<key>STORAGE_BUCKET</key>
	<string>roomieverse-antt.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808985936517:ios:6a22f8649c26e699f39fec</string>
</dict>
</plist>